.category-filter {
    margin-bottom: 20px;
  }
  
  .category-filter button {
    margin-right: 10px;
    margin: 10px 10px;
    width: 100px;
    height: 40px;
    color: rgb(31, 51, 12);
    background-color: rgb(219, 163, 163);
  }
  
  .category-filter .active {
    background-color: #a8f352;
    color: rgb(40, 22, 22);
  }
  